<!doctype html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,shrink-to-fit=no,user-scalable=no,minimal-ui" name="viewport"/>
<meta name ="format-detection" content="telephone=no">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="renderer" content="webkit">
<meta http-equiv="X-UA-Compatible" content="IE=edge ,chrome=1" />
<meta name="keywords" content="<?php echo $row['tags']==''?$row['flname']:$row['tags'];?>" />
<meta name="description" content="<?php echo $row['description']?>">
<title><?php echo $row['title'];?></title>
<link rel="stylesheet" type="text/css" href="<?php echo apth_url('subject/htx/css/css.css');?>" />
<link rel="stylesheet" type="text/css" href="<?php echo apth_url('subject/htx/css/style.css');?>" />
<link rel="stylesheet" type="text/css" href="<?php echo apth_url('subject/htx/css/common.css');?>" />
<link rel="stylesheet" type="text/css" href="<?php echo apth_url('subject/htx/css/banner.css');?>">
<link rel="stylesheet" type="text/css" href="<?php echo apth_url('subject/htx/css/layer.css');?>" />
<link rel="stylesheet" type="text/css" href="<?php echo apth_url('subject/htx/css/ripple.css');?>">
<script src="<?php echo apth_url('subject/htx/js/jquery.js');?>"></script> 
<script src="<?php echo apth_url('subject/htx/js/jquery-1.8.3.min.js');?>"></script> 
<script src="<?php echo apth_url('subject/htx/js/amazeui.js');?>"></script>
<script src="<?php echo apth_url('subject/htx/js/layer.js');?>"></script>
<script src="<?php echo apth_url('subject/htx/js/common.js');?>"></script>
<script src="<?php echo apth_url('subject/htx/js/pageauto.js');?>"></script> 
</head>
<body>
<!-- 头部 -->
<div class="headbox headbox-a">
	<div class="return" id="callback" data-ripple>返回</div>
	<div class="location"><?php echo mb_substr($row['flname'],5,10,'utf-8');?></div>
	<?php require('pic.html');?>
</div>
<script>
/*历史返回*/
$('#callback').click(function(){
	history.go(-1);
});
</script> 
<!-- /头部 -->
<div class="deta-content">
	<div class="deta-tit">
		<h3><?php echo $row['title'];?></h3>
		<div>
			<span><?php echo $row['publitime'];?></span>
			<span><?php echo $row['flname'];?></span>
		</div>
	</div>

	<div class="deta-text"><?php echo $row['body'];?></div>
<?php if( $row['integral'] != '0' ){?>
	<?php if($pay['state']!=2){?>
		<a href="javascript:void(0);" class="download-10 click_down10">
			<div class="download-div-10">
				<span class="download-span"></span>
				<p>下载需要<b>￥<?php echo $row['integral'];?>元</b></p>
			</div>
		</a>
	<?php }else{?>
		<a href="javascript:void(0);" class="download-10" onclick="download_load();">
			<div class="download-div-10">
				<span class="download-span"></span>
				<p>点击下载<b>已支付</b></p>
			</div>
		</a>
	<?php }?>
<?php }else{?>
	<a href="javascript:void(0);" class="download-10" onclick="download_load();">
		<div class="download-div-10">
			<span class="download-span"></span>
			<p>点击下载<b>免费</b></p>
		</div>
	</a>
<?php }?>
</div>

<!-- 支付方式-->
<div class="share-div payment-div">
	<div class="gb_resLay">
		<div class="gb_res_t"><span>确定付款</span><i></i></div>
		<div class="payment-div-a">
			<h3>￥<?php echo $row['integral'];?>元</h3>

			<h4>支付方式</h4>
			<div class="payment-div-b">
				<p class="show_payment"><a href="javascript:void(0);" onclick="SetIndex(0);" class="a"></a></p>
				<p class="show_payment"><a href="javascript:void(0);" onclick="SetIndex(1);" class="weixin a"></a></p>
				<p class="show_payment"><a href="javascript:void(0);" onclick="SetIndex(2);" class="unionpay"></a></p>
			</div>
	
			<a href="javascript:void(0);" class="con-btn zhifu-btn" onclick="SendPayinfo();">立即付款</a>			
			<a href="javascript:void(0);" class="con-btn zhifu-btn" onclick="SendPayweixin();">立即付款</a>
			<a href="javascript:void(0);" class="con-btn zhifu-btn" onclick="SendPayunionpay();">立即付款</a>
			
		</div>
		<div class="outdiv">
			<img src="<?php echo apth_url('subject/htx/images/icon-27.png');?>" alt="">
		</div>	
	</div>
</div>

<!-- 底部 菜单-->
<?php require('menu.html');?>
<script src="<?php echo apth_url('subject/htx/js/ripple.js');?>"></script>
<script>
var ua = navigator.userAgent.toLowerCase();//获取判断用的对象
var boolstr = "<?php echo $boolstr;?>";
if (ua.match(/MicroMessenger/i) == "micromessenger") 
{
  //在微信中打开
	$(".show_payment").hide();
	$(".show_payment:eq(1)").show();
	$(".show_payment:eq(2)").show();
	$(".zhifu-btn").hide();
	$(".zhifu-btn:eq(1)").show();
}
else
{
	$(".show_payment").hide();
	$(".show_payment:eq(0)").show();
	$(".show_payment:eq(2)").show();
	$(".zhifu-btn").hide();
	$(".zhifu-btn:eq(0)").show();
}
//切换
function SetIndex(i){
	$(".payment-div-b a").removeClass('a');
	$(".payment-div-b a:eq("+i+")").addClass('a');
	$(".zhifu-btn").hide();
	$(".zhifu-btn:eq("+i+")").show();
}
//下载
function download_load(){
	if (ua.match(/iphone os/i) == "iphone os" && ua.match(/version/i) != "version" ) 
	{
		alert('请点击右上角，打开手机浏览器下载');
	}
	if( boolstr == '' ){
		layer.open({
		    content: '请先登录'
		    ,skin: 'msg'
		    ,time: 1
		    ,end:function(){
		    	showccc();
		    }
		});
		return false;
	}
	//免费下载
	window.open("<?php echo $row['link'].'?act=Remotedownload&id='.$row['id'];?>","_self");
}
//支付宝
function SendPayinfo(){
	if( boolstr == '' ){
		layer.open({
		    content: '请先登录'
		    ,skin: 'msg'
		    ,time: 1
		    ,end:function(){
		    	showccc();
		    }
		});
		return false;
	}
	location.href="<?php echo apth_url('?act=alipay_ment');?>";
}
//微信
function SendPayweixin(){
	if( boolstr == '' ){
		layer.open({
		    content: '请先登录'
		    ,skin: 'msg'
		    ,time: 1
		    ,end:function(){
		    	showccc();
		    }
		});
		return false;
	}
	location.href="<?php echo apth_url('?act=weixin_ment');?>";
}
//银联
function SendPayunionpay(){
	layer.open({
	    content: '银联还未开通'
	    ,skin: 'msg'
	    ,time: 2
	});
	return false;
	if( boolstr == '' ){
		layer.open({
		    content: '请先登录'
		    ,skin: 'msg'
		    ,time: 1
		    ,end:function(){
		    	showccc();
		    }
		});
		return false;
	}
	location.href="<?php echo apth_url('?act=unionpay');?>";
}
</script>
</body>
</html>