<!doctype html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,shrink-to-fit=no,user-scalable=no,minimal-ui" name="viewport"/>
<meta name ="format-detection" content="telephone=no">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="renderer" content="webkit">
<meta http-equiv="X-UA-Compatible" content="IE=edge ,chrome=1" />
<meta name="keywords" content="<?php echo $global['keywords'];?>" />
<meta name="description" content="<?php echo $global['description'];?>">
<title><?php echo $global['title'];?></title>
<link rel="stylesheet" type="text/css" href="<?php echo apth_url('subject/htx/css/css.css');?>" />
<link rel="stylesheet" type="text/css" href="<?php echo apth_url('subject/htx/css/style.css');?>" />
<link rel="stylesheet" type="text/css" href="<?php echo apth_url('subject/htx/css/common.css');?>" />
<link rel="stylesheet" type="text/css" href="<?php echo apth_url('subject/htx/css/ripple.css');?>">
<link rel="stylesheet" type="text/css" href="<?php echo apth_url('subject/htx/css/layer.css');?>" />
<script src="<?php echo apth_url('subject/htx/js/jquery-1.8.3.min.js');?>"></script> 
<script src="<?php echo apth_url('subject/htx/js/amazeui.js');?>"></script>
<script src="<?php echo apth_url('subject/htx/js/common.js');?>"></script>
<script src="<?php echo apth_url('subject/htx/js/pageauto.js');?>"></script> 
<script src="<?php echo apth_url('subject/htx/js/layer.js');?>"></script>
</head>

<body>
<!-- 头部 -->
<div class="headbox headbox-a">
	<div class="return" data-ripple><a href="<?php echo apth_url('?act=help');?>">返回</a></div>
	<div class="location">合作协议</div>
	<?php require('pic.html');?>
</div>
<!-- /头部 -->
<div class="help-con">
	<h3 class="help-h3 text-center">平台合作协议</h3>

	<p>甲方：</p>

	<p>乙方：</p>

	<p>甲乙双方在平等互利、共同发展、诚实信用的原则下，经过充分协商，自愿签订本协议。</p>

	<h3 class="help-h3">一、合作条件：</h3>

	<p class="line-height">如果您选择接受本条款，即表示您同意接受协议各项条件的约束。如果您不同意本服务条款，则不能获得使用本协议的权利。您若有违反本条款规定，火天信资料库有权随时中止或终止您使用火天信资料库产品的资格并保留追究相关法律责任的权利。本协议条款一旦发生变更，火天信资料库将在网页上公布修改内容。修改后的服务条款一旦在网页上公布，即有效代替原来的服务条款。您可随时登录火天信资料库官方网站查阅最新版服务条款。</p>

	<p class="line-height">甲方是获国家批准，完全符合中华人民共和国国务院(第292号)《互联网内容/应用服务管理办法》要求，具备互联网信息服务业务经营资格，能够提供完善的售后服务体系，具备合法、可靠的信息资讯来源等合法经营条件（经营许可证：91450100737628636R）。</p>

	<p class="line-height">乙方是具备下列任一条件的组织或个人：</p>

	<p class="line-height">A.依法成立并能够独立承担责任的经营性单位；</p>

	<p class="line-height">B.拥有优质的产品或服务。因开展互联网网上教育资源的共享和交换，而需使用甲方的网络平台资源、支付系统、营销网络、客户服务和宣传渠道等；乙方保证提供给甲方的教育资源（产品）拥有完全版权或其它的合法授权，保证其真实性并符合中华人民共和国相关法律、法规；将在利用甲方火天信建筑资料库资源平台开展商务活动时严格遵守尊重消费者的隐私权，完全理解、接受并且执行甲方在火天信建筑资料库协议声明公布的《使用平台的协议服务条款》。</p>

	<h3 class="help-h3">二、合作方式：</h3>

	<p class="line-height">由甲方提供网络平台资源、计费系统、营销网络、客户服务和宣传渠道等，由乙方提供教育资源。乙方资源的存放形式选择：</p>

	<p class="line-height">A.存放于甲方服务器</p>

	<p class="line-height">B.存放于乙方服务器</p>

	<h3 class="help-h3">三、 双方的权利与义务</h3>

	<p class="line-height">（一）甲方权利和义务</p>

	<p class="line-height">3.1.1甲方应维护系统的安全运行，并保证其交付乙方使用的火天信建筑资料库资源平台能够正常使用；</p>

	<p class="line-height">3.1.2甲方应对乙方提供技术支持等必要帮助；</p>

	<p class="line-height">3.1.3甲方应为乙方提供商品销售管理权限，便于乙方凭用户名和密码登陆销售管理系统后台，随时掌握商品销售情况；</p>

	<p class="line-height">3.1.4甲方作为火天信建筑资料库的所有者和管理者，有权对乙方在双方合作范围内的经营活动进行规范、监督和管理。对于严重损害消费者权益、公共权益或甲方利益的商户，甲方有权终止其继续使用平台，并支持协助消费者和有关行政机关等进行追索和查处；</p>

	<p class="line-height">3.1.5甲方对乙方利用甲方网站与任何第三方进行商务活动产生的纠纷，不承担任何责任；</p>

	<p class="line-height">3.1.6若遇不可抗力或发生通讯中断、ISP故障、黑客侵入等甲方无法预知的事件，甲方对此不承担责任。</p>

	<p class="line-height">（二）乙方的权利和义务</p>

	<p class="line-height">3.2.1乙方应保证其利用甲方网站进行的商务活动有效合法，符合其经营范围及本协议有关描述，并能随时出具必要的证明文件。乙方应提供高质量的售前售后服务，有明确的联系地址和电话，并告知消费者正式注册地址，提供实名和实名验证证明。乙方应明示所售商品或服务的必须的说明和价格；</p>

	<p class="line-height">3.2.2乙方必须及时对借助甲方的火天信建筑资料库进行商务活动提供优质服务。若每周累积投诉2次以上，甲方有权终止乙方使用火天信建筑资料库资源平台，按照本协议三、（一）的规定与乙方结算剩余往来款；</p>

	<p class="line-height">3.2.3乙方不得利用甲方网站为本协议规定以外的站点服务，不得在与甲方合作的内容页面显示其他销售手段、途径。否则乙方应承担相应责任并赔偿由此给甲方造成的损失，甲方对此不承担任何责任且有权单方面解除合同；</p>

	<p class="line-height">3.2.4乙方网站上发布的信息必须真实且不包含如下内容：</p>

	<p class="line-height">A.与色情相关内容；</p>

	<p class="line-height">B.涉及国内外政治敏感性信息；</p>

	<p class="line-height">C.妨害计算机网络安全的信息；</p>

	<p class="line-height">D.其他中国法律法规禁止的内容；</p>

	<p class="line-height">E.甲方公示禁止或者限制的其它内容；</p>

	<p class="line-height">F.乙方无法证明自己具有合法拥有权、经营权的内容。</p>

	<p class="line-height">3.2.5乙方使用甲方提供的火天信建筑资料库资源平台进行商务活动，应当自行缴纳因此而产生的相关税费，并应当随时根据甲方的要求出具一切必要的票据；</p>

	<p class="line-height">3.2.6乙方应承担往来汇款的银行手续费，对此甲方会从乙方的应结算款中扣除。如因乙方未填写清楚帐号或者未经过正式补充协议约定变更收款帐号，导致款项无法正常汇出，责任应由乙方自行承担；</p>

	<p class="line-height">3.2.7乙方应确认：火天信建筑资料库资源平台是为其网站实现交易之用，如无甲方书面同意，不得作其它用途或以任何形式转租、转让。</p>

	<h3 class="help-h3">四、收费标准及支付方式</h3>

	<p class="line-height">（一）收费标准</p>

	<p class="line-height">4.1.1甲方按乙方提供资源的月实际销售总额四万元以内按70%支付给乙方 ；月实际销售总额四万元以上按75%支付给乙方；月实际销售总额十万以上按78%支付给乙方。</p>

	<p class="line-height">4.1.2 为便于乙方产品推广，甲乙双方约定演示帐号，演示帐号不进行结算。</p>

	<p class="line-height">4.1.3 甲方以转帐的方式支付乙方的资源费，乙方开居收入收据。（甲乙确保乙方的分成比例是按最高标准执行）</p>

	<p class="line-height">（二）支付方式</p>

	<p class="line-height">4.2.1 甲方按符合以下任一条件时与乙方结算：</p>

	<p class="line-height">A、结算周期大于7天(结算款大于等于壹千元)</p>

	<p class="line-height">B、结算周期大于30天</p>

	<p class="line-height">4.2.2结算期之前7天内的交易货款应留待下一周期结算。甲方应按约定将应结算款划至乙方在本协议指定的帐户，结算金额以火天信建筑资料库资源平台系统记录为准。乙方变更收款帐户的，应当及时向甲方提供带有效签字的书面通知原件，否则乙方责任自负，甲方对此免责。</p>

	<h3 class="help-h3">五、 违约责任和不可抗力</h3>

	<p class="line-height">5.1.1如任何一方违反本协议所约定的义务，违约方在收到守约方要求纠正其违约行为的书面通知之日，应立即停止其违约行为，并在10日内赔偿守约方因此受到的所有损失。如违约方继续进行违约行为或不履行其义务，守约方除有权就其所有损失而获得违约方赔偿外，亦有权在违约方收到书面通知当日终止本协议。因乙方的错误或者过失，包括但不限于违反本协议3.2.1-3.2.8中规定的，甲方可调整乙方服务费用比例或随时终止服务，乙方应对由此可能发生的所有经济损失承担责任。</p>

	<p class="line-height">发生任何不可抗力（包括但不限于国家政策变动，重大自然灾害，重大疫情等）导致本协议中任何条款延期或者终止，双方应当尽量保证其他条款的执行，受不可抗力情况影响的一方应在15日内将情况通知对方，并尽快将必要的有关证明文件提交另一方进行确认；对因不可抗力造成的协议履行的延误或无法正常履行时，受不可抗力影响的一方不负法律责任。</p>

	<h3 class="help-h3">六. 保密条款</h3>

	<p class="line-height">6.1.1 任何一方在未事先取得对方书面同意的情况下,不得向第三方泄露双方之间的协议等往来资料,以及通过签订和履行本合同而获知的对方及对方关联公司的任何信息。未事先经对方书面同意，任何一方不得将对方的品牌、标识、资料等一切商业文件用于商业目的活动;</p>

	<p class="line-height">6.1.2乙方应当对自己的用户名、密码等资料自行采取保密措施，并自行承担因保密不慎而产生的一切后果；</p>

	<p class="line-height">6.1.3 本合同有效期内及终止后，本保密条款仍具有法律效力。</p>

	<h3 class="help-h3">七 、 特殊免责条款</h3>

	<p class="line-height">7.1. 1 对一方遭受到严重危害互联网安全的恶性侵害行为,产生的一切违约后果，遭受侵害的一方不负法律责任，若因此终止协议，双方未结算款项应在30天内结清;</p>

	<p class="line-height">7.1. 2甲方为了网站的正常运行或基于市场整体利益考虑及经营需要，需要定期或不定期地对网站进行停机维护,对其网站的服务内容、版面布局、页面设计等方面进行调整，如因此类情况影响甲方本合同项下义务的履行，乙方需给予充分的谅解，不对此追究法律责任，但甲方有义务尽力避免上述影响，减少至最低程度。</p>

	<h3 class="help-h3">八、 法律适用</h3>

	<p class="line-height">8.1. 1 本协议的效力和解释均适用中华人民共和国法律，在履行本协议的过程中发生的争议，由甲乙双方协商解决。如果协商不成，甲乙双方均可提请双方注册地仲裁机构或法院，仲裁或裁决。</p>

	<h3 class="help-h3">九、 合同的解除</h3>

	<p class="line-height">9.1. 1 如果甲乙双方在协议终止日期前三十日内未以书面形式提出终止协议请求，本协议到期后自动延期一年；</p>

	<p class="line-height">9.1. 2 本协议履行过程中双方均可以书面的形式提前30天提出终止协议的请求，在得到对方书面认可后，协议终止；</p>

	<p class="line-height">9.1. 3 本协议终止后，甲方对协议终止前已发生的、尚未与乙方按本协议结算条款结算的往来款项，自协议终止之日起30天内予以结清。</p>

	<h3 class="help-h3">十、 其他</h3>

	<p class="line-height">10.1. 1本协议自双方签字盖章之日起生效，协议未尽事宜双方另行签订补充协议，是本协议不可分割的一部分；</p>

	<p class="line-height">10.1. 2 本协议一式两份，双方各执一份，具有相同的法律效力；</p>

	<div class="help-4-div">
		<ul>
			<li>甲方（盖章）：</li>
			<li>甲方签字代表：</li>
			<li>日期:         年       月       日</li>
		</ul>

		<ul>
			<li>乙方（盖章）：</li>
			<li>乙方签字代表：</li>
			<li>日期:         年       月       日</li>
		</ul>
	</div>

	<!-- <a href="javascript:void" class="xz-a">点击这里下载（word文档样本）</a> -->

</div>

<a href="#" class="top-div"></a>

<!-- 底部 菜单-->
<?php require('menu.html');?>
<script src="<?php echo apth_url('subject/htx/js/ripple.js');?>"></script> 

</body>
</html>