<!doctype html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,shrink-to-fit=no,user-scalable=no,minimal-ui" name="viewport"/>
<meta name ="format-detection" content="telephone=no">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="renderer" content="webkit">
<meta http-equiv="X-UA-Compatible" content="IE=edge ,chrome=1" />
<meta name="keywords" content="<?php echo $global['keywords'];?>" />
<meta name="description" content="<?php echo $global['description'];?>">
<title><?php echo $global['title'];?></title>
<link rel="stylesheet" type="text/css" href="<?php echo apth_url('subject/htx/css/css.css');?>" />
<link rel="stylesheet" type="text/css" href="<?php echo apth_url('subject/htx/css/style.css');?>" />
<link rel="stylesheet" type="text/css" href="<?php echo apth_url('subject/htx/css/common.css');?>" />
<link rel="stylesheet" type="text/css" href="<?php echo apth_url('subject/htx/css/ripple.css');?>">
<link rel="stylesheet" type="text/css" href="<?php echo apth_url('subject/htx/css/layer.css');?>" />
<script src="<?php echo apth_url('subject/htx/js/jquery-1.8.3.min.js');?>"></script> 
<script src="<?php echo apth_url('subject/htx/js/amazeui.js');?>"></script>
<script src="<?php echo apth_url('subject/htx/js/common.js');?>"></script>
<script src="<?php echo apth_url('subject/htx/js/pageauto.js');?>"></script>
<script src="<?php echo apth_url('subject/htx/js/layer.js');?>"></script>
</head>

<body>
<!-- 头部 -->
<div class="headbox headbox-a">
	<div class="return" data-ripple><a href="<?php echo apth_url('?act=help');?>">返回</a></div>
	<div class="location">网站简介</div>
	<?php require('pic.html');?>
</div>
<!-- /头部 -->

<div class="help-con">
	<h3 class="help-h3 text-center">使用平台的协议服务条款</h3>


	<p>目录：</p>

	<p>协议声明</p>

	<p>一、产品保护条款 --------------------------- 共5条</p>
	
	<p>二、用户使用须知---------------------------- 共6条</p>

	<p>三、关于用户学习服务----------------------共10条</p>

	<p>四、服务声明</p>

	<p>五、适用法律</p>

	<h3 class="help-h3">协议声明</h3>

	<p class="line-height">如果您选择接受本条款，即表示您同意接受协议各项条件的约束。如果您不同意本服务条款，则不能获得使用本协议的权利。您若有违反本条款规定，火天信资料库有权随时中止或终止您使用火天信资料库产品的资格并保留追究相关法律责任的权利。本协议条款一旦发生变更，火天信资料库将在网页上公布修改内容。修改后的服务条款一旦在网页上公布，即有效代替原来的服务条款。您可随时登录火天信资料库官方网站查阅最新版服务条款。</p>

	<h3 class="help-h3">一、产品保护条款</h3>

	<p class="line-height">1、火天信资料库产品版权归属广西火天信工程管理咨询有限公司所有。火天信资料库产品的一切版权以及与火天信资料库产品相关的所有信息内容，包括但不限于：文字表述及其组合、图标、图饰、图表、色彩、版面设计、数据、印刷材料、或电子文档等均受著作权法和国际著作权条约以及其他知识产权法律法规的保护。</p>

	<p class="line-height">2、您须明白，使用本协议产品涉及到互联网服务，可能会受到各个环节不稳定因素的影响。因此服务存在不可抗力、计算机病毒或黑客攻击、系统不稳定、用户所在位置、用户关机以及其他任何技术、互联网络、通信线路原因等造成的服务中断或不能满足用户要求的风险。您须承担以上风险，火天信资料库不作担保。</p>

	<p class="line-height">3、如火天信资料库的系统发生故障影响到本协议的正常运行，火天信资料库承诺在第一时间内与相关单位配合，及时处理进行修复。但您因此而产生的经济损失，火天信资料库不承担责任。此外，火天信资料库保留不经事先通知为维修保养、升级或其他目的暂停本协议任何部分的权利。</p>

	<p class="line-height">4、使用本协议必须遵守国家有关法律和政策等，维护国家利益，保护国家安全，并遵守本条款，对于您违法或违反本条款的使用(包括但不限于言论发表、传送等)而引起的一切责任，由您负全部责任，概与火天信资料库及合作单位无关，导致火天信资料库及合作单位损失的，火天信资料库及合作单位有权要求赔偿，并有权立即停止向其提供服务，保留相关记录，并保留配合司法机关追究法律责任的权利。</p>

	<p class="line-height">5、您同意个人隐私信息是指那些能够对您进行个人辨识或涉及个人通信的信息，包括下列信息：您的姓名，身份证号，手机号码，IP地址，电子邮件地址信息。而非个人隐私信息是指您登录的账号、对软件的操作状态以及使用习惯等您的操作记录信息和其他一切个人隐私信息范围外的普通信息。火天信资料库将会采取合理的措施保护您的个人隐私信息，除法律或有法律赋予权限的政府部门要求或您同意等原因外，火天信资料库未经您同意不向除合作单位以外的第三方公开、 透露您个人隐私信息。您同意，为了运营和改善火天信资料库的技术和服务，火天信资料库可以在无须再另行通知或提示您的情况下，自己收集使用或向第三方提供使用您的非个人隐私信息，以有助于火天信资料库及合作单位向用户提供更好的用户体验和提高服务质量。</p>

	<h3 class="help-h3">二、用户使用须知</h3>

	<p class="line-height">特别提醒您，使用互联网必须遵守国家有关的政策和法律，如刑法、国家安全法、保密法、计算机信息系统安全保护条例等，保护国家利益，保护国家安全，对于违法使用互联网络而引起的一切责任，由您负全部责任。</p>

	<p class="line-height">1、您不得使用火天信资料库产品发送或传播任何妨碍社会治安或非法、虚假、骚扰性、侮辱性、恐吓性、伤害性、破坏性、挑衅性、淫秽色情性等内容的信息。</p>

	<p class="line-height">2、您不得使用火天信资料库产品发送或传播敏感信息和违反国家法律制度的信息。</p>

	<p class="line-height">3、您保证以真实的身份注册使用火天信资料库的产品，向火天信资料库所提供的个人身份资料信息真实、完整、有效，依据法律规定和约定对所提供的信息承担相应的法律责任。如果资料发生变化，您应及时更改。火天信资料库会及时、有效地提供该项服务。在安全完成本协议的登记程序后，您应维持密码及账号的机密安全。您应对任何人利用您的密码及账号所进行的活动负完全的责任，火天信资料库公司无法对非法或未经您授权使用您账号及密码的行为做出甄别，因此火天信资料库公司不承担任何责任。</p>

	<p class="line-height">4、盗取他人号码或利用网络通讯骚扰他人，均属于非法行为。您不得采用测试、欺骗等任何非法手段，盗取其他用户的账号和对他人进行骚扰。</p>

	<p class="line-height">5、火天信资料库在此郑重提请您注意，任何经由本协议以上传、下载、张贴、电子邮件或任何其他方式传送的资讯、资料、文字、软件、音乐、音讯、照片、图形、视讯、信息、用户的登记资料或其他资料等（以下简称“内容”），无论系公开还是私下传送，均由内容提供者承担责任。同时，为了提高、改进火天信资料库各种服务的用户体验，您同意火天信资料库对凡是您经由本服务通过上传、张贴等任何方式发布到火天信资料库产品的任何文字、图片及其他信息资料等进行无偿的修改、复制、传播等使用。火天信资料库无法监控经由本协议传送之内容，也无法对用户的使用行为进行全面控制，因此不保证内容的合法性、正确性、完整性、真实性或品质等；您已预知使用本服务时，可能会接触到令人不快、不适当或令人厌恶之内容，并同意将自行加以判断并承担所有风险，而不依赖于火天信资料库。但在任何情况下，火天信资料库公司有权依法停止任何前述内容的服务并采取相应行动，包括但不限于暂停用户使用本协议的全部或部分，保存有关记录，并向有关机关报告。但火天信资料库有权(但无义务)依其自行之考量，拒绝和删除可经由本协议提供之违反本条款的或其他引起火天信资料库或其他用户反感的任何内容。</p>

	<p class="line-height">6、火天信资料库产品属于群体类产品，使用火天信资料库软件产品服务的用户之间引发的任何纠纷火天信资料库公司将不负责任。</p>

	<h3 class="help-h3">三、关于用户学习服务</h3>

	<p class="line-height">在火天信资料库产品中，目前火天信资料库提供了大量的视频学习课程和在线资料下载。您同意、理解并遵循以下条款，也同时适用，对双方均有约束力：</p>

	<p class="line-height">1、您除了可以按照本协议的约定在火天信资料库使用学习之外，不得进行任何侵犯火天信资料库的知识产权的行为，或者进行其他的有损于火天信资料库或其他用户合法权益的行为。火天信资料库也绝对不会允许您从事这些行为，亦有权采取技术措施防止您从事这些行为，包括但不限于：</p>

	<p class="line-height">（1）修改火天信资料库课程中的版权信息，或者擅自修改火天信资料库课程的名称；</p>

	<p class="line-height">（2）进行任何火天信资料库学习公平性或者其他影响其他用户正常秩序的行为，如主动或被动刷积分、合伙作弊、使用外挂或者其他的作弊软件、利用BUG（又叫“漏洞”或者“缺陷”）来获得不正当的非法利益，或者利用互联网或其他方式将外挂、作弊软件、BUG公之于众；</p>

	<p class="line-height">（3）利用劫持域名服务器等技术非法侵入、破坏用户学习的服务器软件系统，或者修改、增加、删除、窃取、截留、替换服务器软件系统中的数据，或者非法挤占火天信资料库的服务器空间，或者实施其他的使之超负荷运行的行为；</p>

	<p class="line-height">（4）进行任何诸如发布广告、推广的商业行为，或者进行任何非法的侵害火天信资料库利益的行为等；</p>

	<p class="line-height">（5）冒充火天信资料库管理员或是官方工作人员发布任何诈骗或虚假信息；</p>

	<p class="line-height">（6）发表、转发、传播含有谩骂、诅咒、诋毁、攻击、诽谤、侵害火天信资料库或第三方权益内容的，或者含有封建迷信、淫秽、色情、下流、恐怖、暴力、凶杀、赌博、反动、扇动民族仇恨、危害祖国统一、颠覆国家政权等让人反感、厌恶的内容的非法言论，或者设置含有上述内容的用户昵称；</p>

	<p class="line-height">（7）在日常学习环节中进行恶意刷分、恶意评论，恶意回答回复等恶意破坏火天信资料库公共秩序的行为；</p>

	<p class="line-height">（8）利用用户发布评论，评价，问答，回答，回复等故意传播恶意程序或计算机病毒，或者利用手记，提问、转发、传播侵犯第三方知识产权、肖像权、姓名权、名誉权、隐私或其他合法权益的文字、图片、照片、程序、视频、图像和/或动画等资料。</p>

	<p class="line-height">2、您充分理解到：用户学习观看使时的相关用户数据将会占据火天信资料库服务器空间。长期保留您在使用和享受火天信资料库提供的学习服务的过程中所产生的全部数据，将会大量地挤占服务器空间，影响整个火天信资料库服务器的运行速度，增加火天信资料库的运营成本，是完全没有必要的。因此，火天信资料库将会定期将服务器上存储的一些过往的学习数据转移或者永久地删除。</p>

	<p class="line-height">3、火天信资料库一向遵守国家有关保护青少年身心健康的法律、政策，会按照国家的相关法规保护青少年的身心健康，您会遵守国家相关的法规及火天信资料库根据相关法规制定的关于保护青少年身心健康各种规则。</p>

	<p class="line-height">4、您如有任何违反协议或相关法规的，火天信资料库有权采取下列措施当中的一种或几种：</p>

	<p class="line-height">（1）立即断开您当前使用的计算机与火天信资料库服务器之间的网络连接；</p>

	<p class="line-height">（2）暂时禁止您凭借当前使用的火天信资料库账户登录火天信资料库学习使用；</p>

	<p class="line-height">（3）降低或者清除您当前使用的火天信资料库账户在学习当中的积分、等级和经验；</p>

	<p class="line-height">（4）永久性地、不可撤销地将您发布的广告、虚假信息或者非法言论删除，或者采取其他的阻止其传播的措施；</p>

	<p class="line-height">（5）永久性地、不可撤销地将您非法获取的积分、等级或经验或清零；</p>

	<p class="line-height">（6）永久性地、不可撤销地删除您当前使用的火天信资料库账户项下的所有积分、等级、经验等资料以及相应的学习数据；</p>

	<p class="line-height">（7）采取上列措施之外的其他的措施。</p>

	<p class="line-height">5、您充分理解到：用户可能从事的违反约定或相关法规的行为，是一种即时性的瞬间即可让众多用户知晓的行为。火天信资料库如果不立即采取各种处理措施，可能会造成非常严重非常恶劣的后果。对此，您是给予充分理解的，并完全同意火天信资料库采取相关措施对相关违反约定或相关法规行为进行处理。</p>

	<p class="line-height">6、您如果对火天信资料库就您使用的火天信资料库账户采取的相关措施有异议，则应当在知道火天信资料库采取该等措施之日7个工作日内向火天信资料库客户邮箱htxgcw@163.com服务反馈，提供相应的情况，说明您的异议理由。火天信资料库将会根据您提供的情况及说明的理由自行判断是否应当终止执行该等措施。但这不会导致该等措施无效，也不影响异议期间该等措施的执行。火天信资料库客户服务如果在采取该等措施3个月未接到任何反馈的，则视为您没有任何异议，火天信资料库不再接受任何有关的反馈。</p>

	<p class="line-height">7、火天信资料库保留随时地、不事先通知地、不需要任何理由地、单方面地中止、终止本协议或提供相关学习服务的权利。该等中止、终止，可能是因为国家法律、法规、政策及国家机关的命令或者其他的诸如地震、火灾、海啸、台风、罢工、战争等不可抗力事件，还可能是上列原因之外的其他原因。若火天信资料库的该等中止、终止行为给你造成任何损失的，您同意不向火天信资料库主张任何赔偿或其他责任。</p>

	<p class="line-height">8、账户使用与保管</p>

	<p class="line-height">（1）火天信资料库有权审查您注册所提供的身份信息是否真实、有效，并应积极地采取技术与管理等合理措施保障您账户的安全、有效；您有义务妥善保管其账户及密码，并正确、安全地使用您的账户及密码。任何一方未尽上述义务导致账户密码遗失、账户被盗等情形而给您和他人的民事权利造成损害的，应当承担由此产生的法律责任。</p>

	<p class="line-height">（2）您对登录后所持账户产生的行为依法享有权利和承担责任。</p>

	<p class="line-height">（3）您发现您的账户或密码被他人非法使用或有使用异常的情况的，应及时根据火天信资料库公布的处理方式通知火天信资料库，并有权通知火天信资料库采取措施暂停该账户的登录和使用。</p>

	<p class="line-height">　（4）火天信资料库根据您的通知采取措施暂停用户账户的登录和使用的，火天信资料库应当要求您提供并核实与其注册身份信息相一致的个人有效身份信息。</p>

	<p class="line-height">（5）火天信资料库核实您所提供的个人有效身份信息与所注册的身份信息相一致的，应当及时采取措施暂停用户账户的登录和使用。</p>

	<p class="line-height">（6）火天信资料库违反（5）款项的约定，未及时采取措施暂停用户账户的登录和使用，因此而给您造成损失的，应当承担其相应的法律责任。</p>

	<p class="line-height">（7）您没有提供真实的个人有效身份证件或者您提供的个人有效身份证件与所注册的身份信息不一致的，火天信资料库有权拒绝您依据本条第（3）项提出的请求。</p>

	<p class="line-height">（8）您为了维护您的合法权益，向火天信资料库提供与所注册的身份信息相一致的个人有效身份信息时，火天信资料库应当为您提供账户注册人证明、原始注册信息等必要的协助和支持，并根据需要向有关行政机关和司法机关提供相关证据信息资料。</p>

	<p class="line-height">9、服务的中止与终止</p>

	<p class="line-height">（1）您有发布违法信息、严重违背社会公德、以及其他违反法律禁止性规定的行为，火天信资料库有权立即终止对您提供服务。</p>

	<p class="line-height">（2）您在接受火天信资料库服务时实施违反约定或相关法规的不正当行为的，火天信资料库有权终止对您提供服务。</p>

	<p class="line-height">（3）您没有以真实的个人身份信息进行注册，或实施违反本协议或相关法规的行为，火天信资料库有权中止对您提供全部或部分服务；火天信资料库采取中止措施会以合适的方式通知您并告知中止期间，中止期间是合理的，中止期间届满火天信资料库应当及时恢复对您的服务。</p>

	<p class="line-height">（4）火天信资料库根据本条约定中止或终止对您提供部分或全部服务的，火天信资料库应负举证责任。</p>

	<p class="line-height">10、用户信息保护</p>

	<p class="line-height">（1）火天信资料库要求您提供与其个人身份有关的信息资料时，会事先以明确而易见的方式向您公开其隐私权保护政策和个人信息利用政策，并采取必要措施保护您的个人信息资料的安全。</p>

	<p class="line-height">（2）未经您许可火天信资料库不得向任何第三方提供、公开或共享您注册资料中的姓名、个人有效身份证件号码、联系方式、家庭住址等个人身份信息，但下列情况除外：</p>

	<p class="line-height">A、您或您的监护人授权火天信资料库披露的；</p>

	<p class="line-height">B、有关法律要求火天信资料库披露的；</p>

	<p class="line-height">C、司法机关或行政机关基于法定程序要求火天信资料库提供的；</p>

	<p class="line-height">D、火天信资料库为了维护自己合法权益而向您提起诉讼或者仲裁时；</p>

	<p class="line-height">E、应您的监护人的合法要求而提供您个人身份信息时。</p>

	<h3 class="help-h3">四、服务声明</h3>

	<p class="line-height">火天信资料库特别提请您注意，火天信资料库为了保障公司业务发展和调整的自主权，火天信资料库拥有随时修改或中断服务而不需通知您的权利，火天信资料库行使修改或中断服务的权利不需对您或任何第三方负责。您必须在同意本条款的前提下，火天信资料库才开始对您提供服务。</p>

	<h3 class="help-h3">五、适用法律</h3>

	<p class="line-height">本服务条款的解释，效力及纠纷的解决，适用于中华人民共和国大陆法律。 　　若您和火天信资料库之间发生任何纠纷或争议，首先应友好协商解决，协商不成的，您在此完全同意将纠纷或争议提交火天信资料库所在地广西南宁青秀区人民法院管辖。火天信资料库官方网站拥有对以上各项条款内容的解释权及修改权。</p>

</div>

<a href="#" class="top-div"></a>

<!-- 底部 菜单-->
<?php require('menu.html');?>
<script src="<?php echo apth_url('subject/htx/js/ripple.js');?>"></script> 

</body>
</html>