<!doctype html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,shrink-to-fit=no,user-scalable=no,minimal-ui" name="viewport"/>
<meta name ="format-detection" content="telephone=no">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="renderer" content="webkit">
<meta http-equiv="X-UA-Compatible" content="IE=edge ,chrome=1" />
<meta name="keywords" content="<?php echo $global['keywords'];?>" />
<meta name="description" content="<?php echo $global['description'];?>">
<title><?php echo $global['title'];?></title>
<link rel="stylesheet" type="text/css" href="<?php echo apth_url('subject/htx/css/css.css');?>" />
<link rel="stylesheet" type="text/css" href="<?php echo apth_url('subject/htx/css/style.css');?>" />
<link rel="stylesheet" type="text/css" href="<?php echo apth_url('subject/htx/css/common.css');?>" />
<link rel="stylesheet" type="text/css" href="<?php echo apth_url('subject/htx/css/ripple.css');?>">
<link rel="stylesheet" type="text/css" href="<?php echo apth_url('subject/htx/css/layer.css');?>" />
<script src="<?php echo apth_url('subject/htx/js/jquery-1.8.3.min.js');?>"></script> 
<script src="<?php echo apth_url('subject/htx/js/amazeui.js');?>"></script>
<script src="<?php echo apth_url('subject/htx/js/common.js');?>"></script>
<script src="<?php echo apth_url('subject/htx/js/pageauto.js');?>"></script>
<script src="<?php echo apth_url('subject/htx/js/layer.js');?>"></script> 
<script src="<?php echo apth_url('subject/htx/js/layer.js');?>"></script>
</head>
<body>
<!-- 头部 -->
<div class="headbox headbox-a">
	<div class="return" data-ripple><a href="<?php echo apth_url('?act=help');?>">返回</a></div>
	<div class="location">新手上路</div>
	<?php require('pic.html');?>
</div>
<!-- /头部 -->
<div class="help-con">

	<h3 class="help-h3">一、用户注册</h3>

	<p>1.点击右上角 如图：</p>
	<img src="<?php echo apth_url('subject/htx/images/help-6-img4.png');?>" alt="">

	<p style="margin-top:0.6rem">2.进入此页面 如图：<b style="color:#ff9900">（点击注册）</b></p>
	<img src="<?php echo apth_url('subject/htx/images/help-6-img3.png');?>" alt="">

	<p style="margin-top:0.6rem">2.进入注册页面 如图：</b></p>
	<img src="<?php echo apth_url('subject/htx/images/help-6-img2.png');?>" alt="">

	<p style="margin-top:0.6rem">3.使用手机或常用邮箱注册，输入验证码后点击注册。注：手机或邮箱需要验证</p>


	<h3 class="help-h3" style="margin-top:0.8rem">二、用户登录</h3>

	<p>1.点击右上角 如图：</p>
	<img src="<?php echo apth_url('subject/htx/images/help-6-img4.png');?>" alt="">

	<p style="margin-top:0.6rem">2.进入此页面 如图：<b style="color:#ff9900">（点击登录）</b></p>
	<img src="<?php echo apth_url('subject/htx/images/help-6-img5.png');?>" alt="">

	<p style="margin-top:0.6rem">2.进入登录页面 如图：</b></p>
	<img src="<?php echo apth_url('subject/htx/images/help-6-img1.png');?>" alt="">

	<p style="margin-top:0.6rem">3.输入您在火天信资料库注册的帐号 和 密码 点击登录 或 使用QQ号授权登录</p>

	<h3 class="help-h3">三、专题服务</h3>

	<p>1.专题服务面向企业和个人</p>

	<p>2.开通专题服务需要企业或个人实名制</p>

	<p>3.专题服务分为平台分享模式和平台合作模式</p>

	<p>(1)平台分享模式：手记或视频分享，性质为自愿分享，不需要签署协议。</p>

	<p>(2)平台合作模式：手记或视频分享，性质为合作共赢，需要签署协议。</p>

	<p>4.相关协议请查看（关于我们->协议声明 和 联系我们->合作协议）</p>

	<h3 class="help-h3">四、平台积分</h3>

	<p>1.积分获取方式，只能通过发表手记获取，不能充值。</p>

	<p>2.积分不能兑现人民币，只限用于资料下载，视频培训活动使用。</p>

	<p>3.发表手记需要审核，内容与火天信资料库规定符合，由管理员评定积分级别后，并将积分打入会员积分帐号。</p>

	<p>4.会员通过积分在火天信资料库下载资料或获取视频培训课程后，将从会员积分帐号中划掉相应的积分。</p>
</div>

<a href="#" class="top-div"></a>

<!-- 底部 菜单-->
<?php require('menu.html');?>
<script src="<?php echo apth_url('subject/htx/js/ripple.js');?>"></script> 

</body>
</html>