<!doctype html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,shrink-to-fit=no,user-scalable=no,minimal-ui" name="viewport"/>
<meta name ="format-detection" content="telephone=no">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="renderer" content="webkit">
<meta http-equiv="X-UA-Compatible" content="IE=edge ,chrome=1" />
<meta name="keywords" content="<?php echo $global['keywords'];?>" />
<meta name="description" content="<?php echo $global['description'];?>">
<title>注册</title>
<link rel="stylesheet" type="text/css" href="<?php echo apth_url('subject/htx/css/css.css');?>" />
<link rel="stylesheet" type="text/css" href="<?php echo apth_url('subject/htx/css/style.css');?>" />
<link rel="stylesheet" type="text/css" href="<?php echo apth_url('subject/htx/css/common.css');?>" />
<link rel="stylesheet" type="text/css" href="<?php echo apth_url('subject/htx/css/layer.css');?>" />
<link rel="stylesheet" type="text/css" href="<?php echo apth_url('subject/htx/css/ripple.css');?>">
<script src="<?php echo apth_url('subject/htx/js/jquery.js');?>"></script> 
<script src="<?php echo apth_url('subject/htx/js/jquery-1.8.3.min.js');?>"></script>
<script src="<?php echo apth_url('subject/htx/js/layer.js');?>"></script>
<script src="<?php echo apth_url('subject/htx/js/personal/tab.js');?>"></script>
<script src="<?php echo apth_url('subject/htx/js/pageauto.js');?>"></script>
</head>
<body>

<!-- 头部 -->
<div class="headbox headbox-a">
    <div class="return" data-ripple><a href="<?php echo apth_url('?act=login_reset');?>">返回</a></div>
    <div class="location">注册</div>
</div>
<!-- /头部 -->

<!--登录-->
<div class="login_bg">
    <div id="logo">
        <img src="<?php echo apth_url('subject/htx/images/logo-1.png');?>" alt="LOGO"/>
    </div>

    <form id="frm_name">
        <div class="userName">
            <input type="text" name="username" placeholder="请输入手机号/邮箱"/>
        </div>
        <div class="passWord">
            <input type="password" name="password" placeholder="6-16位密码，字母区分大小写，不能空格"/>
        </div>

        <div class="passWord passWord-a">
            <input type="text" name="virify" placeholder="输入验证码"/>
            <p class="GetVirify">获取验证码</p>
            <p class="GetVirify" style="display:none;">获取验证码</p>
        </div>

        <div class="choose_box">
            <div>
                <input type="checkbox" checked="checked" name="checkbox"/>
                <lable>同意 <a href="<?php echo apth_url('?act=RelevantAgreement');?>">《火天信资料库平台服务相关协议》</a></lable>
            </div>
        </div>
        <a href="javascript:void(0);" class="login_btn">注册</a>
    </form>
</div>
<!-- 底部 菜单 -->
<?php require('menu.html');?>
<script src="<?php echo apth_url('subject/htx/js/ripple.js');?>"></script> 
<script>
var relphone =/^0?(13|14|15|17|18)[0-9]{9}$/;
var relemail =/^\w[-\w.+]*@([A-Za-z0-9][-A-Za-z0-9]+\.)+[A-Za-z]{2,14}$/;
var i=60,intval;
$(function(){
	$(".login_btn").click(function(){
		var PhoneAndMail = $("[name='username']").val();		
		if( $("[name='username']").val() == '' ){
			layer.open({
			    content: '请输入手机号或邮箱'
			    ,skin: 'msg'
			    ,time: 2
			});
			return false;
		}
		if(PhoneAndMail.lastIndexOf('@') == -1){//手机
			if( !isNaN( PhoneAndMail ) ){
				if(!relphone.test(PhoneAndMail)){
					layer.open({
					    content: '手机号不正确'
					    ,skin: 'msg'
					    ,time: 2
					});
					return false;
				}
			}else{
				layer.open({
				    content: '请输入手机号或邮箱'
				    ,skin: 'msg'
				    ,time: 2
				});
				return false;
			}
		}else{//邮箱
			if(!relemail.test(PhoneAndMail)){
				layer.open({
				    content: '邮箱格式不正确'
				    ,skin: 'msg'
				    ,time: 2
				});
				return false;
			}
		}
		if( $("[name='password']").val() == '' ){
			layer.open({
			    content: '请输入密码'
			    ,skin: 'msg'
			    ,time: 2
			});
			return false;
		}
		if( $("[name='virify']").val() == '' ){
			layer.open({
			    content: '请输入验证码'
			    ,skin: 'msg'
			    ,time: 2
			});
			return false;
		}
		var ds = $("#frm_name").serialize();
		$.ajax({
			url:'<?php echo apth_url("index.php");?>',
			type:'post',
			data:'act=GetReset&'+ds,   
			success:function(msg){
				//console.log(msg);return false;
				var obj = eval("("+msg+")");
				if( obj.error == 1 ){//错误
					layer.open({
					    content: obj.txt
					    ,skin: 'msg'
					    ,time: 2
					});
				}else{
					layer.open({
					    content: '注册成功，自动登录，请稍等...'
					    ,skin: 'msg'
					    ,time: 2 //2秒后自动关闭
					    ,end: function(elem){
					    	location.href="<?php echo apth_url();?>";
					    } 
					});
				}
			}
		});
		
	});
});
$(function(){
	$(".GetVirify:eq(0)").click(function(){
		var PhoneAndMail = $("[name='username']").val();		
		if( $("[name='username']").val() == '' ){
			layer.open({
			    content: '请输入手机号或邮箱'
			    ,skin: 'msg'
			    ,time: 2
			});
			return false;
		}
		if(PhoneAndMail.lastIndexOf('@') == -1){//手机
			if( !isNaN( PhoneAndMail ) ){
				if(!relphone.test(PhoneAndMail)){
					layer.open({
					    content: '手机号不正确'
					    ,skin: 'msg'
					    ,time: 2
					});
					return false;
				}
			}else{
				layer.open({
				    content: '请输入手机号或邮箱'
				    ,skin: 'msg'
				    ,time: 2
				});
				return false;
			}
			//发关短信...
			$.ajax({
				url:'<?php echo apth_url("index.php");?>',
				type:'post',
				data:'act=SendSMS&datas='+PhoneAndMail,
				beforeSend:function(){
					intval = setTimeout(Countdown,1000);
				},
				complete:function(){
					//layer.close(loadings);
				},    
				success:function(msg){
					var obj = eval("("+msg+")");
					if( obj.error == 1 ){
						clearInterval(intval);
						layer.open({
						    content: obj.txt
						    ,skin: 'msg'
						    ,time: 2
						    ,end:function(){					    	
						    	$(".GetVirify").hide(),$(".GetVirify:eq(0)").show();
						    	i = 60;//重置
						    }
						});
					}
				}
			});
		}else{//邮箱
			if(!relemail.test(PhoneAndMail)){
				layer.open({
				    content: '邮箱格式不正确'
				    ,skin: 'msg'
				    ,time: 2
				});
				return false;
			}
			//发送邮件...
			$.ajax({
				url:'<?php echo apth_url("index.php");?>',
				type:'post',
				data:'act=SendEmail&datas='+PhoneAndMail,
				beforeSend:function(){
					intval = setTimeout(Countdown,1000);
				},   
				success:function(msg){
					var obj = eval("("+msg+")");
					if( obj.error == 1 ){
						clearInterval(intval);
						layer.open({
						    content: obj.txt
						    ,skin: 'msg'
						    ,time: 2
						    ,end:function(){					    	
						    	$(".GetVirify").hide(),$(".GetVirify:eq(0)").show();
						    	i = 60;//重置
						    }
						});						
					}
					
				}
			});
		}
		
	});
});
//定时器
function Countdown()
{	
	$(".GetVirify").hide(),$(".GetVirify:eq(1)").show();
	$(".GetVirify:eq(1)").text('已发送（'+i+'）');
	i--;
	if(i<=1){		
		clearInterval(intval);
		
		//调回
		$(".GetVirify").hide(),$(".GetVirify:eq(0)").show();
		i = 60;//重置
		return false;
	}
	intval = setTimeout(Countdown,1000);
}
</script>
</body>
</html>