<!doctype html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,shrink-to-fit=no,user-scalable=no,minimal-ui" name="viewport"/>
<meta name ="format-detection" content="telephone=no">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="renderer" content="webkit">
<meta http-equiv="X-UA-Compatible" content="IE=edge ,chrome=1" />
<meta name="keywords" content="<?php echo $global['keywords'];?>" />
<meta name="description" content="<?php echo $global['description'];?>">
<title>找回密码</title>
<link rel="stylesheet" type="text/css" href="<?php echo apth_url('subject/htx/css/css.css');?>" />
<link rel="stylesheet" type="text/css" href="<?php echo apth_url('subject/htx/css/style.css');?>" />
<link rel="stylesheet" type="text/css" href="<?php echo apth_url('subject/htx/css/common.css');?>" />
<link rel="stylesheet" type="text/css" href="<?php echo apth_url('subject/htx/css/layer.css');?>" />
<script src="<?php echo apth_url('subject/htx/js/jquery.js');?>"></script> 
<script src="<?php echo apth_url('subject/htx/js/jquery-1.8.3.min.js');?>"></script>
<script src="<?php echo apth_url('subject/htx/js/layer.js');?>"></script>
<script src="<?php echo apth_url('subject/htx/js/pageauto.js');?>"></script>
</head>
<body>
<!-- 头部 -->
<div class="headbox headbox-a">
    <div class="return" data-ripple><a href="<?php echo apth_url('?act=login');?>">返回</a></div>
    <div class="location">找回密码</div>
</div>
<!-- /头部 -->

<!--登录-->
<div class="login_bg">
    <div id="logo">
        <img src="<?php echo apth_url('subject/htx/images/logo-1.png');?>" alt=""/>
    </div>

    <form id="frm_data">
        <div class="userName">
            <input type="text" name="username" placeholder="请输入手机号/邮箱"/>
            <div class="note">* 手机、邮箱 至少填写一个</div>
        </div>

        <div class="passWord passWord-a">
            <input type="text" name="virify" placeholder="输入验证码"/>
            <p class="GetVirify" >获取验证码</p>
            <p class="GetVirify" style="display:none;"></p>
        </div>
        <a href="javascript:void(0);" class="login_btn login_btn1" onclick="SetPassword();">提交</a>
    </form>

    <div class="note-1">
        注：点击提交后，手机或邮箱会收到验证码；手机验证码不能频繁操作会发送失败；收件邮箱如果看不到，有可能被拦截或发到垃圾件中。
    </div> 
</div>
<!-- 底部 菜单 -->
<?php require('menu.html');?>
<script>
var relphone =/^0?(13|14|15|17|18)[0-9]{9}$/;
var relemail =/^\w[-\w.+]*@([A-Za-z0-9][-A-Za-z0-9]+\.)+[A-Za-z]{2,14}$/;
var i=60,intval;
function SetPassword(){
	var PhoneAndMail = $("[name='username']").val();		
	if( $("[name='username']").val() == '' ){
		layer.open({
		    content: '请输入手机号或邮箱'
		    ,skin: 'msg'
		    ,time: 2
		});
		return false;
	}
	if(PhoneAndMail.lastIndexOf('@') == -1){//手机
		if( !isNaN( PhoneAndMail ) ){
			if(!relphone.test(PhoneAndMail)){
				layer.open({
				    content: '手机号不正确'
				    ,skin: 'msg'
				    ,time: 2
				});
				return false;
			}
		}else{
			layer.open({
			    content: '请输入手机号或邮箱'
			    ,skin: 'msg'
			    ,time: 2
			});
			return false;
		}
	}else{//邮箱
		if(!relemail.test(PhoneAndMail)){
			layer.open({
			    content: '邮箱格式不正确'
			    ,skin: 'msg'
			    ,time: 2
			});
			return false;
		}
	}	
	var virify = $("[name='virify']").val();
	//发送
	$.ajax({
		url:'<?php echo apth_url("index.php");?>',
		type:'post',
		data:'act=RetrievePassword&'+$("#frm_data").serialize(),
		success:function(msg){
			//console.log(msg);return false;
			var obj = eval("("+msg+")");
			if( obj.msg == 'OK' ){
				location.href="<?php echo apth_url('?act=password_upd');?>";
			}else{
				layer.open({
				    content: obj.txt
				    ,skin: 'msg'
				    ,time: 2
				});
			}		
		}
	});	
}
//发送验证码
$(function(){
	$(".GetVirify:eq(0)").click(function(){
		var PhoneAndMail = $("[name='username']").val();		
		if( $("[name='username']").val() == '' ){
			layer.open({
			    content: '请输入手机号或邮箱'
			    ,skin: 'msg'
			    ,time: 2
			});
			return false;
		}
		if(PhoneAndMail.lastIndexOf('@') == -1){//手机
			if( !isNaN( PhoneAndMail ) ){
				if(!relphone.test(PhoneAndMail)){
					layer.open({
					    content: '手机号不正确'
					    ,skin: 'msg'
					    ,time: 2
					});
					return false;
				}
			}else{
				layer.open({
				    content: '请输入手机号或邮箱'
				    ,skin: 'msg'
				    ,time: 2
				});
				return false;
			}
			//发关短信...
			$.ajax({
				url:'<?php echo apth_url("index.php");?>',
				type:'post',
				data:'act=mPasswordSMS&tel='+PhoneAndMail,
				beforeSend:function(){
					intval = setTimeout(Countdown,1000);
				},
				complete:function(){
					//layer.close(loadings);
				},    
				success:function(msg){
					//console.log(msg);return false;
					var obj = eval("("+msg+")");
					if( obj.msg != 'OK' ){
						clearInterval(intval);
						$(".GetVirify").hide(),$(".GetVirify:eq(0)").show();
				    	i = 60;//重置
						layer.open({
						    content: obj.txt
						    ,skin: 'msg'
						    ,time: 2
						});
					}	
				}
			});
		}else{//邮箱
			if(!relemail.test(PhoneAndMail)){
				layer.open({
				    content: '邮箱格式不正确'
				    ,skin: 'msg'
				    ,time: 2
				});
				return false;
			}
			//发送邮件...
			$.ajax({
				url:'<?php echo apth_url("index.php");?>',
				type:'post',
				data:'act=mPasswordMailbox&email='+PhoneAndMail,
				beforeSend:function(){
					intval = setTimeout(Countdown,1000);
				},   
				success:function(msg){
					var obj = eval("("+msg+")");
					if( obj.msg != 'OK' ){
						clearInterval(intval);
						$(".GetVirify").hide(),$(".GetVirify:eq(0)").show();
				    	i = 60;//重置
						layer.open({
						    content: obj.txt
						    ,skin: 'msg'
						    ,time: 2
						});					
					}								
				}
			});
		}
	});
});
//定时器
function Countdown()
{	
	$(".GetVirify").hide(),$(".GetVirify:eq(1)").show();
	$(".GetVirify:eq(1)").html('已发送（'+i+'）');
	i--;
	if(i<=1){		
		clearInterval(intval);
		
		//调回
		$(".GetVirify").hide(),$(".GetVirify:eq(0)").show();
		i = 60;//重置
		return false;
	}
	intval = setTimeout(Countdown,1000);
}
</script>
</body>
</html>