<!doctype html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,shrink-to-fit=no,user-scalable=no,minimal-ui" name="viewport"/>
<meta name ="format-detection" content="telephone=no">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="renderer" content="webkit">
<meta http-equiv="X-UA-Compatible" content="IE=edge ,chrome=1" />
<meta name="keywords" content="<?php echo $row['tags']==''?$row['flname']:$row['tags'];?>" />
<meta name="description" content="<?php echo $row['description']?>">
<title><?php echo $row['title'];?></title>
<link rel="stylesheet" type="text/css" href="<?php echo apth_url('subject/htx/css/css.css');?>" />
<link rel="stylesheet" type="text/css" href="<?php echo apth_url('subject/htx/css/style.css');?>" />
<link rel="stylesheet" type="text/css" href="<?php echo apth_url('subject/htx/css/common.css');?>" />
<link rel="stylesheet" type="text/css" href="<?php echo apth_url('subject/htx/css/banner.css');?>">
<link rel="stylesheet" type="text/css" href="<?php echo apth_url('subject/htx/css/layer.css');?>" />
<script src="<?php echo apth_url('subject/htx/js/jquery-1.8.3.min.js');?>"></script> 
<script src="<?php echo apth_url('subject/htx/js/amazeui.js');?>"></script>
<script src="<?php echo apth_url('subject/htx/js/common.js');?>"></script>
<script src="<?php echo apth_url('subject/htx/js/pageauto.js');?>"></script> 
<script src="<?php echo apth_url('subject/htx/js/layer.js');?>"></script>
</head>
<body>
<!-- 头部 -->
<div class="headbox headbox-a">
	<div class="return"><a href="<?php echo apth_url('?act=videolook&contid='.$ordrow['infoid']);?>">返回</a></div>
	<div class="location">支付成功</div>
	<?php require('pic.html');?>
</div>
<!-- /头部 -->
<div class="widthdiv-a">
	<div class="widthdiv">
		<div class="zfcg-div">
			支付成功
		</div> 
<?php if(!empty($pageRows['row'])){?>
	<?php foreach($pageRows['row'] as $k=>$v){$j=ParsingJson($v['coverapth']);?>		
		<div class="video-a">
			<ul class="ul-learn ul-learn-10">
				<li> 
					<a href="<?php echo apth_url('?act=videolook&contid='.$v['pid']);?>" class="ul-learn-a">
						<img src="<?php echo get_pixels(EXTURL_DATA.$j[0],242,159);?>" alt="<?php echo $v['tags'];?>">
					</a>
					<div class="middle">
						<h3><a href="<?php echo apth_url('?act=videolook&contid='.$v['pid']);?>"><?php echo $v['tags'];?></a></h3>
						<section>
							<span style="color:#1322da;">视频培训 &nbsp;  &nbsp; 第<?php echo $v['numbers'];?>讲</span>
						</section>
					</div>
				</li>
			</ul>
		</div>
	<?php }?>	
<?php }?>
<?php if($totalRows>$totalshow){?>
		<div style="height:50px;line-height:50px;text-align:center;cursor:pointer;"><span onclick="SetUp('<?php echo $ordersn;?>','<?php echo ($page-1);?>');">上一页</span> &nbsp; <span onclick="SetDown('<?php echo $ordersn;?>','<?php echo ($page+1);?>');">下一页</span> &nbsp; 当前 <?php echo $page;?>/<?php echo $totalpage;?>页 &nbsp; 总数:<?php echo $totalRows;?></div>				
		<script>
		//上一页
		function SetUp(order,p){
			location.href="<?php echo apth_url('?act=mPaySuccess&trade_no=');?>"+order+'&page='+p;
		}
		//下一页
		function SetDown(order,p){
			location.href="<?php echo apth_url('?act=mPaySuccess&trade_no=');?>"+order+'&page='+p;
		}
		</script>
<?php }?>		
	</div>
</div>

<div class="widthdiv-a" style="overflow:hidden">
	<a href="<?php echo apth_url('?act=videolook&contid='.$ordrow['infoid']);?>" class="con-btn fr" style="margin-right:0.6rem">点击播放</a>
</div>
<!-- 底部 菜单-->
<?php require('menu.html');?>
</body>
</html>