<!doctype html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,shrink-to-fit=no,user-scalable=no,minimal-ui" name="viewport"/>
<meta name ="format-detection" content="telephone=no">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="renderer" content="webkit">
<meta http-equiv="X-UA-Compatible" content="IE=edge ,chrome=1" />
<meta name="keywords" content="<?php echo $DataList['row']['flname'];?>" />
<meta name="description" content="<?php echo $DataList['row']['seriestions'];?>">
<title><?php echo $DataList['row']['tags'];?></title>
<link rel="stylesheet" type="text/css" href="<?php echo apth_url('subject/htx/css/css.css');?>" />
<link rel="stylesheet" type="text/css" href="<?php echo apth_url('subject/htx/css/style.css');?>" />
<link rel="stylesheet" type="text/css" href="<?php echo apth_url('subject/htx/css/common.css');?>" />
<link rel="stylesheet" type="text/css" href="<?php echo apth_url('subject/htx/css/banner.css');?>">
<link rel="stylesheet" type="text/css" href="<?php echo apth_url('subject/htx/css/ripple.css');?>">
<link rel="stylesheet" type="text/css" href="<?php echo apth_url('subject/htx/css/layer.css');?>">
<script src="<?php echo apth_url('subject/htx/js/jquery.js');?>"></script> 
<script src="<?php echo apth_url('subject/htx/js/jquery-1.8.3.min.js');?>"></script> 
<script src="<?php echo apth_url('subject/htx/js/amazeui.js');?>"></script>
<script src="<?php echo apth_url('subject/htx/js/common.js');?>"></script>
<script src="<?php echo apth_url('subject/htx/js/layer.js');?>"></script>
<script src="<?php echo apth_url('subject/htx/js/pageauto.js');?>"></script> 
</head>

<body>
<!-- 头部 -->
<div class="headbox headbox-a">
	<div class="return" data-ripple><a href="<?php echo apth_url('?act=video');?>">返回</a></div>
	<div class="location">视频详情</div>
	<?php require('pic.html');?>
</div>
<!-- /头部 -->
<div class="widthdiv-a">
	<div class="widthdiv">
		<a href="javascript:void(0);" onclick="Looket();" class="video-a">
			<div><img src="<?php echo apth_url('subject/htx/images/img-06.jpg');?>" alt="<?php echo $DataList['row']['tags'];?>"></div>
			<img src="<?php echo apth_url('subject/htx/images/icon-42.png');?>" alt="播放" class="img-btn" style="bottom:0.5rem;right:0.8rem;">
			<div class="video-info" style="bottom:48%;">
				<p>时长：<span><?php echo formatSeconds($DataList['tvlength']);?></span></p>

				<p>分类：<span><?php echo $DataList['row']['flname'];?></span></p>

				<p>播放：<span><?php echo $DataList['click'];?></span>次</p>
			</div>
		</a>

		<div class="video-info-a">
			<h3><?php echo $DataList['row']['tags'];?></h3>

			<h4>本系列共：<?php echo $DataList['count'];?>讲</h4>

			<p><?php echo $DataList['row']['seriestions'];?></p>
		</div>
	</div>


</div>

<div class="widthdiv-a">
	<div class="widthdiv">
		<h5 class="h5div">讲师简介</h5>
		<div class="lecturer">
			<a href="" class="lecturer-a"><img src="<?php echo $DataList['link1'].$DataList['row']['head_pic'];?>" alt="<?php echo $DataList['row']['teacher'];?>"></a>
			<ul class="lecturer-ul">
				<li>姓名：<p><?php echo $DataList['row']['teacher'];?></p></li>

				<li>代号：<p><?php echo $DataList['row']['teacher_code'];?></p></li>

				<li><p><?php echo $DataList['row']['academy'];?></p></li>
			</ul>
		</div>

		<div class="int-lecturer">
			<?php echo $DataList['row']['trainertion'];?>
		</div>
	</div>
</div>


<div class="widthdiv-a">
	<div class="widthdiv">
		<h5 class="h5div">内容详情</h5>
		<div class="video-detail">
			<?php echo $DataList['row']['body'];?>
		</div>
	</div>
</div>

<!-- 底部 菜单-->
<?php require('menu.html');?>
<script src="<?php echo apth_url('subject/htx/js/ripple.js');?>"></script>
<script>
var boolstr = "<?php echo $boolstr;?>";
function Looket()
{
	if( boolstr == false ){
		layer.open({
		    content: '请先登录'
		    ,skin: 'msg'
		    ,time: 1
		    ,end:function(){
		    	showccc();
		    }
		});
		return false;
	}
	location.href="<?php echo apth_url('?act=videolook&contid='.$id);?>";	
}
</script> 
</body>
</html>